[submodule "facebook-clang-plugins"]
	path = facebook-clang-plugins
	url = https://github.com/facebook/facebook-clang-plugins.git
[submodule "gh-pages"]
	path = gh-pages
	url = git@github.com:paveon/looper.git
	branch = gh-pages
